@using DAL.Entities;
@{
    var categories = (List<Category>)ViewData["categories"];
}

<!-- content -->
<div class="container">
    <div class="main">
        <div class="row">
            <h3>Categorii</h3>
        </div>
        <!-- start content -->
        <div class="row">
            @foreach (var category in categories)
            {
                var imgsrc = "/Content/Images/Categories/category" + @category.Id +".jpg";
                if(!File.Exists(Server.MapPath(imgsrc)))
                    imgsrc = "/Content/Images/Categories/noimage.jpg";
                <a href="~/Search/Category/@category.Id">
                    <div class="col-xs-12 col-sm-6 col-md-3 mainCategory">
                        <div class="mainCategoriesTxt">@category.Name</div>
                        <div class="mainCategoriesProductTypes">
                            <ul>
                                @foreach (var item in category.ProductTypes)
                                {
                                    <li>@item.Name</li>
                                }
                            </ul>

                        </div>
                        <img src=@imgsrc class="mainCategoriesImage" />
                    </div>
                </a>
            }
        </div>

        <div class="content">
            <div class="content_text">
                <h3>Go Rangers!</h3>
                <h3>DADA</h3>
                <h3>Cele mai noi oferte</h3>
                <p>Producatorii nostri</p>
            </div>
            <div class="content_text">
                <h3>Cele mai noi business-uri adaugate!</h3>
                <p>Producatorii nostri</p>
            </div>

        </div>
        <!-- end content -->
    </div>
</div>