@model DAL.Entities.Cart

<div>
    <h3> Produsul a fost adaugat in cos</h3>

    <div class="table-cell col-xs-6 col-sm-6 col-md-6">
        @Html.ActionLink("Vezi detalii cos", "Index", "Cart", null, new { @class = "" })
    </div>
    <div class="table-cell col-xs-6 col-sm-6 col-md-6">
        @Html.ActionLink("Finalizeaza comanda", "Cart", new { @class = "btn btn-primary btn-sm btn-block" })
    </div>
</div>
