@using DAL.Entities;

@{
    List<County> allCounties = (List<County>)ViewData["allCounties"];
}

<div id="SearchCountiesPreviewInnerDiv">

    @foreach (var item in allCounties)
    {
        <div class="MainSearchItem" onclick="addSearchCountiesTerm('@item.Name')">
            @item.Name
        </div>
    }
</div>

<script>

    $("#SearchCountiesPreviewInnerDiv").mouseleave(function () {
        $("#SearchCountiesPreviewInnerDiv").fadeOut("slow");
    });

</script>